<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>FWnax8t4S2X5Ed9ziJpmo8mdTJM0enKJ2bsaeBDd</string>
	<key>applicationId</key>
	<string>au3Hrso3KBg2ptWSzfsmFMlfAI4lrvsbE3SeGiQP</string>
</dict>
</plist>
