<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>VL1FMa2cxL8jOUycdGSeLNBRVjx9aOp7pJTU00q5</string>
	<key>applicationId</key>
	<string>ggKQqFWf3UOSxwNTz02Diuh4zd7sApTVnO5Tm4cB</string>
</dict>
</plist>
